PORT=5000
MONGO_URI=mongodb+srv://Khushboo2310:Ktiwari2310@backend-db.zzcct21.mongodb.net/notes-sharing
JWT_SECRET=052d3f0e4a72c2bc94744031fc55e8a3b007ce5dbcedccfd96a42004320997d8
JWT_EXPIRE=7d
CLIENT_URL=http://localhost:5173
NODE_ENV=development
